section.cost {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background2222.jpg");
  background-size: cover;
  background-position: 0 50%;
  // border: 3px solid yellow;

  h1.cost {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    margin: 0 auto;
    padding-top: 7vh;
    color: rgba(255, 255, 255, 0.964);
    font-size: 50px;
    text-transform: uppercase;
    transition: .3s;
    cursor: default;
  }

  h1.cost:hover {
    color: purple;
  }

  div.price_list {
    height: 70vh;
    width: 60%;
    margin: auto auto;

    div.price_position {
      display: flex;
      flex-direction: row;
      margin: 3vh 0;
      justify-content: space-around;
      align-items: center;

      p {
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px 15px;
        font-size: 25px;
        border-radius: 50px;
        color: #000;
        font-weight: bold;
      }

      p.price_name {
        border: 6px solid #2444DB;
        background-image: linear-gradient(to bottom, #2444DB, #24B5DB);
        width: 50%;
        transition: .3s;
      }

      p.price_name:hover {
        border: 6px solid purple;
      }

      p.spacer {
        width: 30%;
      }

      p.price_value {
        border: 6px solid purple;
        border-radius: 4vh;
        width: 15%;
        background-image: linear-gradient(to bottom, #8B144C, #EB0165);
        margin-right: 10vh;
        transition: .3s;
      }

      p.price_value:hover {
        border: 6px solid #2444DB;
      }
    }
  }



  img.icon_general {
    height: 6vh;
    opacity: 0.8;
  }

  div#icon1 {
    position: absolute;
    top: 370vh;
    left: 15vw;
  }

  div#icon2 {
    position: absolute;
    top: 330vh;
    left: 80vw;
  }

  div#icon3 {
    position: absolute;
    top: 360vh;
    left: 55vw;
  }

  div#icon4 {
    position: absolute;
    top: 350vh;
    left: 10vw;
  }

  div#icon5 {
    position: absolute;
    top: 315vh;
    left: 10vw;
  }

  div#icon6 {
    position: absolute;
    top: 335vh;
    left: 50vw;
  }

  div#icon7 {
    position: absolute;
    top: 315vh;
    left: 50vw;
  }

  div#icon8 {
    position: absolute;
    top: 380vh;
    left: 80vw;
  }

}

// ############ MEDIA QUERIES ##########
// ############ MEDIA QUERIES ##########
// ############ MEDIA QUERIES ##########
// ############ MEDIA QUERIES ##########

@media(max-width:1283px) {
  section.cost {
    div.price_list {
      div.price_position {
        p {
          font-size: calc(1.1em);
        }

        p.price_value {
          width: 20%
        }
      }
    }
  }
}

@media(max-width:1024px) {
  section.cost {
    height: 70vh;
  }
}

@media(max-width:767px) {
  section.cost {
    height: 80vh;

    h1.cost {
      padding-top: 5vh;
    }

    div.price_list {
      width: 100%;

      div.price_position {

        p.price_name {
          margin-left: 15%;
          width: 40%;
        }

        p {
          font-size: calc(1.1em);
          padding: 10px 5px;
        }

        p.price_value {
          width: 20%;
        }
      }
    }

    div#icon1,
    div#icon2,
    div#icon3,
    div#icon4,
    div#icon5,
    div#icon6,
    div#icon7,
    div#icon8 {
      display: none;
    }
  }
}


@media(max-width:650px) {
  section.cost {
    div.price_list {
      div.price_position {
        p.price_name {
          margin-left: 4%;
          width: 60%;
          font-size: 1em;
        }

        p.price_value {
          width: 22%;
          margin-right: 4%;
          font-size: 1em;
        }

        p.spacer {
          width: 1%;
        }
      }
    }
  }
}

@media(max-width:360px) {
  section.cost {


    h1.cost {
      padding-top: 2vh;
    }
  }
}