* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

// font-family: 'Oswald', sans-serif;

body {
  min-height: 200vh;
  background-color: #000;
}

@import "Header";
@import "FixedNavBar";
@import "AboutUs";
@import "Schedule";
@import "PriceList";